/*
    Theme Name: eNno
    Theme URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/
/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('animate.css');

body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#333;
	background-color:#fff;
}
.table{
	font-size: small;
}
hi,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.1em;
}
.dropdown{
	width: auto !important;
}
p {
	color:#8a8d94;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	color:#333;
}
a:hover {
  text-decoration: none;
  color:#36CBD4;
}

hr {
	margin-top:20px;
	margin-bottom:40px;
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
}
a.navbar-brand span {
	color:#fff;
	font-size:35px;
}

.navbar-collapse {
	float:right;
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 0;

}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0;
  //background-color:#0db4be;  
  //background: #009270;
  background: #1ab394;
}
.nav-tabs {
  border-bottom:0;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 0;
  border-radius: 0 0 0 0;
  text-transform:uppercase;
  font-weight:600;
  color:#fff;
}
.nav-tabs > li > a:hover {
	background-color: #36CBD4;
}
.nav-tabs > li.active > a {
	color: #fff;
  cursor: default;
  background-color:#36CBD4;
  border: 0;
  border-bottom-color: transparent;

}
.nav-tabs > li.active > a:hover {
	color: #fff;
	border: 0;
	background-color: #36CBD4;
	cursor: pointer;
}

.nav-tabs > li {
    margin-bottom: 0;
}


.bxslider li {
	margin-left:40px;

}

.content {
	margin-top:20px;
}

.text-center {
	text-align:center;
	margin-top:30px;
}
.text-center p {
	color:#8a8d94;
	font-size:15px;

}

.box {
	text-align:center;
}

.icon {
	color:#36CBD4;
	margin-top:30px;
	margin-bottom:30px;
}
.ficon  {
	margin-top:30px;
	margin-bottom:30px;
}
.ficon i {
	color:#36CBD4;
}
.ficon a {
	color:#333;
}
.ficon a:hover {
	color:#eee;
}

/*.btn {*/
	/*color:#333;*/
  /*display: inline-block;*/
  /*padding: 10px 20px;*/
  /*margin-bottom: 0;*/
  /*font-size: 14px;*/
  /*font-weight: normal;*/
  /*line-height: 1.42857143;*/
  /*text-align: center;*/
  /*white-space: nowrap;*/
  /*vertical-align: middle;*/
  /*-ms-touch-action: manipulation;*/
      /*touch-action: manipulation;*/
  /*cursor: pointer;*/
  /*-webkit-user-select: none;*/
     /*-moz-user-select: none;*/
      /*-ms-user-select: none;*/
          /*user-select: none;*/
  /*background-image: none;*/
  /*border: 1px solid transparent;*/
  /*border-radius: 0;*/
/*}*/


/* --- Services --- */
.service {
	margin-top:80px;
}

.services {
	text-align:center;
	margin-bottom:30px;
	margin-top:-50px;
	padding:50px;

}
/* --- Blog --- */
.blogs {
	margin-top:110px;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  margin-top:50px;
}

.blog h5 {
	color:#000;
	margin-left:20px;
	text-transform:uppercase;
	margin-top:10px;
}
.blog img {
	margin-top:10px;
	margin-bottom:10px;
}

.blog h3,p {
	color:#000;
	/*padding:15px;*/
}
.blog .ficon {
	text-align:center;
	margin-bottom:30px;
}
.blog .ficon a:hover {
	color:#36CBD4;
}
.media h4 {
	color:#000;
	margin-bottom:30px;
}
.media-body .ficon {
	float:right;
	margin-right:30px;
}
.media-body .ficon a:hover {
	color:#36CBD4;
}
.media-body h4 {
	color:#000;

}
.media-list {
  padding-left: 0;
  list-style: none;
  margin-left:90px;
  margin-bottom:20px;
}

.list-group h5 {
	color:#fff;
	text-align:center;
	margin-bottom:-5px;
	background:#50c0e9;

	padding:15px 20px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #eee;
  color:#000;
}
.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.list-group-item > .badge {
  float: right;
  border-radius:0;
  background-color:#fff;
  color:#000;
}
.embed-responsive  {
	margin-top:-100px;
	margin-bottom:50px;
}
.popular-tags h5 {
	color:#36CBD4;
	margin-bottom:30px;
	text-align:center;
}
.popular-tags ul.tags {
	list-style:none;
	margin:0;
	margin-left: 0;
	padding-left:0;

}
.popular-tags ul.tags li {
	margin:0 5px 15px 0;
	display:inline-block;
}
.popular-tags ul.tags li a {
	background:#eee;
	color:#333;
	padding:5px 10px;
}
.popular-tags ul.tags li a:hover {
	text-decoration:none;
	color:#fff;
	background-color:#36CBD4;
}

/* --- Portfolio --- */
.portfolios {
	margin-top:110px;
}

.portfolio {
	margin-top:30px;

}
.portfolio-2 {
	margin-top:30px;
	margin-bottom:50px;
}

.flipLightBox img {
	margin-top:20px;

}

/* --- Map --- */
.map{
	position:relative;
	margin-top:50px;
	margin-bottom:40px;
}

/* google map */
#google-map{
    position:relative;
    height: 400px;
}


#contact-page{
  padding-top: 0;
  background:#fff;
}

#contact-page .contact-form
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}



textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/*=========================
  Footer
 ================= */

footer {
  background: #fff;
}

.inner-footer  ul li,a  {
	list-style:none;
}
.widgetheading {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}
.f-about a h1 {
	text-align:center;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #0db4be;
}
.f-about a h1 span {
	color: #0db4be;
}
.f-about p {
  font-size: 14px;
  color: #8a8d94;

}
.l-posts h3 {
	margin-left:40px;
}
.l-posts li a {
  font-size: 14px;
  color: #8a8d94;
  margin: 0;
  font-weight: 300;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}

.l-posts li a:hover  {
  color: #0db4be;
}

.f-contact p {
  font-size: 14px;
  color: #8a8d94;
  margin: 0;

  font-weight: 300;
  margin-bottom: 15px;
}

.f-contact i {
  color: #56595f;
  font-size: 16px;
  margin-right: 10px;
}

.f-contact a:hover p{
  color: #0db4be;
}
.last-div {
	margin-top:40px;
   background: #4A4A4A;
    padding: 20px 0;
    position: relative;
}

.copyright {
    font-size: 14px;
    color: #fff;
    margin: 0;
    font-weight: 300;
    float: left;
}
.copyright a{
    color: #fff;
}
.copyright a:hover {
    text-decoration: underline;
    color: #36CBD4;
}

ul.social-network {
	list-style:none;
	margin-top:-20px;
	float:right;
	font-size:18px;
	margin-right:20px;
}

ul.social-network li {
	display:inline;
	margin: 0 15px;
	color:#73f4fc;
}
ul.social-network li a {
	color:#73f4fc;
}
ul.social-network li a:hover {
	color:#fff;
}

a.scrollup{
    color:#fff;
	height:55px;
	width:55px;
	font-size:22px;
	line-height:50px;
	text-align:center;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:40px;
	opacity:0.5;
	border-radius:50%;
	z-index:999;
}
a.scrollup:hover{
	opacity:1;
	background-color:#36CBD4;
	color:#fff;;
}

.modal-header{
	/*background: #1AB394 !important;*/
}